name: CI Build Monitor

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Run build
        run: |
          echo "Building..."
          exit 1
          echo "Build done!"
      
      - name: Run tests
        run: |
          echo "Testing..."
          echo "Tests passed!"
  
  notify:
    runs-on: ubuntu-latest
    needs: build
    if: always()
    steps:
      - name: Send notification
        run: |
          STATUS="${{ needs.build.result }}"
          
          curl -X POST https://unsecluding-incudate-frida.ngrok-free.dev/webhook-test/ci-monitor \
            -H "Content-Type: application/json" \
            -d "{
              \"status\": \"$STATUS\",
              \"repository\": \"${{ github.repository }}\",
              \"branch\": \"${{ github.ref_name }}\",
              \"author\": \"${{ github.actor }}\",
              \"commit\": \"${{ github.sha }}\",
              \"workflow\": \"${{ github.workflow }}\",
              \"run_url\": \"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}\"
            }"
